<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target>

   <environment>
      <os>win32</os>
      <ws>win32</ws>
      <arch>x86</arch>
      <nl>de_DE</nl>
   </environment>

   <location path="D:\Eclipse\3.3-SDK-current"/>

   <content useAllPlugins="true">
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="D:\Eclipse\extensions\emf-sdk-2.2\eclipse"/>
         <location path="D:\Eclipse\extensions\wtp-sdk-1.5\eclipse"/>
         <location path="D:\Eclipse\extensions\gef-sdk-3.2\eclipse"/>
         <location path="D:\Eclipse\extensions\jem-sdk-1.2\eclipse"/>
      </extraLocations>
   </content>

</target>
