<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipseguru.gwt.core.preferences.GwtCorePreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			default-charset="UTF-8" file-extensions="xml,gwt.xml" id="modulesource"
			name="GWT Module Source XML" priority="high">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
				<parameter name="element" value="module" />
			</describer>
		</content-type>
	</extension>
	<extension id="nature" name="GWT Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run
				class="org.eclipseguru.gwt.core.project.GwtProjectNature" />
		</runtime>
		<builder id="org.eclipseguru.gwt.core.builder" />
	</extension>
	<extension id="builder" name="GWT Project Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true" isConfigurable="false">
			<run
				class="org.eclipseguru.gwt.core.builder.GwtProjectBuilder" />
		</builder>
	</extension>
	<extension id="problem" point="org.eclipse.core.resources.markers"
		name="GWT Problem">
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
		<persistent value="true" />
	</extension>
	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			delegate="org.eclipseguru.gwt.core.launch.GwtBrowserLaunchDelegate"
			id="org.eclipseguru.gwt.core.launch.browser" modes="run, debug"
			name="GWT Browser">
		</launchConfigurationType>
	</extension>
	<extension
		point="org.eclipse.jdt.core.classpathContainerInitializer">
		<classpathContainerInitializer
			class="org.eclipseguru.gwt.core.classpath.GwtContainerInitializer"
			id="org.eclipseguru.gwt.core.classpath.container" />
	</extension>
	<extension
		point="org.eclipse.wst.common.project.facet.core.facets">
		<project-facet id="gwt.web">
			<label>GWT Web Project</label>
			<description>
				Enables the web application to use Google&apos;s Ajax
				technology.
			</description>
		</project-facet>
		<project-facet-version facet="gwt.web" version="1.0">
			<constraint>
				<and>
					<requires facet="jst.web" version="[2.2" />
					<requires facet="jst.java" version="[1.3" />
					<conflicts facet="gwt.module" />
				</and>
			</constraint>
			<action id="gwt.web.install" type="install">
				<config-factory
					class="com.googlipse.gwt.facet.GwtWebInstallActionConfigFactory" />
				<delegate
					class="org.eclipseguru.gwt.core.facet.GwtWebInstallDelegate" />
			</action>
			<action id="gwt.web.uninstall" type="uninstall">
				<config-factory
					class="org.eclipseguru.gwt.core.facet.GwtWebUninstallActionConfigFactory" />
				<delegate
					class="org.eclipseguru.gwt.core.facet.GwtWebUninstallDelegate" />
			</action>
		</project-facet-version>
		<project-facet id="gwt.module">
			<label>GWT Module Project</label>
			<description>
				Turns a Java project into a GWT module that can be
				deployed to GWT enabled web applications.
			</description>
		</project-facet>
		<project-facet-version facet="gwt.module" version="1.0">
			<constraint>
				<and>
					<requires facet="jst.java" version="[1.3" />
					<requires facet="jst.utility" version="[1.0" />
					<conflicts facet="gwt.web" />
				</and>
			</constraint>
			<action facet="gwt.module" id="gwt.module.install"
				type="install">
				<config-factory
					class="org.eclipseguru.gwt.core.facet.GwtModuleInstallActionConfigFactory" />
				<delegate
					class="org.eclipseguru.gwt.core.facet.GwtModuleInstallDelegate" />
			</action>
			<action facet="gwt.module" id="gwt.module.uninstall"
				type="uninstall">
				<config-factory
					class="org.eclipseguru.gwt.core.facet.GwtModuleUninstallActionConfigFactory" />
				<delegate
					class="org.eclipseguru.gwt.core.facet.GwtModuleUninstallDelegate" />
			</action>
		</project-facet-version>
		<preset id="gwt.preset.web">
			<label>Dynamic Web Project using GWT</label>
			<facet id="jst.java" version="1.4" />
			<facet id="jst.web" version="2.4" />
			<facet id="gwt.web" version="1.0" />
		</preset>
	</extension>
	<extension
		point="org.eclipse.wst.common.project.facet.core.runtimes">
		<supported>
			<facet id="gwt.web" version="1.0" />
			<runtime-component any="true" />
		</supported>
	</extension>
 <extension
       point="org.eclipse.wst.server.core.publishTasks">
    <publishTask
          class="org.eclipseguru.gwt.core.server.GwtServerPublishTasks"
          id="org.eclipseguru.gwt.core.server.publishTask"
          typeIds="*">
    </publishTask>
 </extension>
 <extension
       point="org.eclipse.wst.server.core.moduleArtifactAdapters">
    <moduleArtifactAdapter
          class="org.eclipseguru.gwt.core.server.GwtModuleArtifactAdapter"
          id="org.eclipseguru.gwt.core.server.moduleArtifactAdapter"
          priority="1">
       <enablement>
          <or>
             <adapt
                   type="org.eclipse.core.resources.IFile">
             </adapt>
          </or>
       </enablement>
    </moduleArtifactAdapter>
 </extension>
 <extension
       point="org.eclipse.wst.server.core.launchableAdapters">
    <launchableAdapter
          class="org.eclipseguru.gwt.core.server.GwtLaunchableAdapter"
          id="org.eclipseguru.gwt.core.server.launachableAdapter"
          typeIds="*">
    </launchableAdapter>
 </extension>

</plugin>
